<!DOCTYPE html>
<html>
<head>
    <title>Logowanie</title>
    <style>
        body {
            text-align: center;
            padding: 50px;
            font-family: Arial, sans-serif;
        }

        h1 {
            font-size: 36px;
            margin-bottom: 30px;
        }

        p {
            font-size: 18px;
            margin-bottom: 30px;
        }

    </style>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flashes">
          {% for message in messages %}
            <div class="flash-message">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
</head>
<body>
    <h1>Logowanie</h1>


    <form method="POST" action="{{ url_for('login') }}">
        {{ form.csrf_token }}
        {{ form.email.label }}<br>
        {{ form.email }}<br>
        {{ form.password.label }}<br>
        {{ form.password }}<br>
        {{ form.submit }}
    </form>

    <p>Nie masz jeszcze konta? <a href="{{ url_for('register') }}">Zarejestruj się tutaj</a>.</p>

    <!-- Wyświetlanie komunikatów flash -->
    <script>
        setTimeout(function() {
            var flashes = document.getElementsByClassName('flashes')[0];
            if (flashes) {
                flashes.style.display = 'none';
            }
        }, 3000);
    </script>
</body>
</html>
